<?xml version="1.0" encoding="UTF-8"?>

<widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id = "edu.uab.business.studentapp"
        versionCode = "1"
        version = "0.0.1" >
        <!-- versionCode is optional and Android only -->
        
<name>Andrew Wood - IS 633 Project</name>

<description>
    Andrew Wood - IS 633 Project
</description>

<author>
    Andrew Wood
</author>

<preference name="phonegap-version" value="cli-6.3.0" />
<plugin name="cordova-plugin-whitelist" source="npm" />
<access origin="*" />

</widget>
