<?xml version="1.0" encoding="UTF-8"?>

<widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id = "edu.uab.business.studentapp"
        versionCode = "1"
        version = "0.0.1" >
        <!-- versionCode is optional and Android only -->
        
<name>Andrew Wood - IS 633 Project</name>

<description>
    Andrew Wood - IS 633 Project
</description>

<author>
    Andrew Wood
</author>

<preference name="phonegap-version" value="cli-6.5.0" />
<plugin name="cordova-plugin-whitelist" source="npm" />
<access origin="*" />
<plugin name="cordova-plugin-geolocation" source="npm" />
<platform name="ios">
    <icon src="images/AppIcon-60@3x.png" width="180" height="180" />
    <icon src="images/AppIcon-76@2x.png" width="152" height="152" />
    <splash src="images/SplashScreen-Portrait-736h@3x.png" width="1242" height="2208" />
    <splash src="images/SplashScreen-Landscape-736h@3x.png" width="2208" height="1242" />
    <splash src="images/SplashScreen-Portrait-@2x.png" width="1536" height="2048" />
    <splash src="images/SplashScreen-Landscape-@2x.png" width="2048" height="1536" />
</platform>
<platform name="android">
    <icon src="images/AppIcon.png" />
    <splash src="images/SplashScreenPort.png" qualifier="port-mdpi" />
    <splash src="images/SplashScreenLand.png" qualifier="land-mdpi" />
</platform>
<preference name="SplashScreenDelay" value="3000" />
<plugin name="cordova-plugin-camera" source="npm" />
<plugin name="cordova-plugin-calendar" source="npm" />
<feature name="Calendar">
    <param name="ios-package" value="Calendar" />
</feature>

</widget>
