h1 {font-family: sans-serif; text-align: center;}

h2 {font-family: sans-serif; text-align: center;}

#mainmenu {text-align: center;}

#section1 {visibility: hidden; position: absolute; text-align: center; background-color: #B0C4DE; border: 2px solid black; border-radius: 25px; margin-left: auto; margin-right: auto; margin-top: 10px; margin-bottom: 10px;}

#section2 {visibility: hidden; position: absolute; text-align: center; background-color: #B0C4DE; border: 2px solid black; border-radius: 25px; margin-left: auto; margin-right: auto; margin-top: 10px; margin-bottom: 10px;}

#section3 {visibility: hidden; position: absolute; text-align: center; background-color: #B0C4DE; border: 2px solid black; border-radius: 25px; margin-left: auto; margin-right: auto; margin-top: 10px; margin-bottom: 10px;}

#section4 {visibility: hidden; position: absolute; text-align: center; background-color: #B0C4DE; border: 2px solid black; border-radius: 25px; margin-left: auto; margin-right: auto; margin-top: 10px; margin-bottom: 10px;}

#section5 {visibility: hidden; position: absolute; text-align: center; background-color: #B0C4DE; border: 2px solid black; border-radius: 25px; margin-left: auto; margin-right: auto; margin-top: 10px; margin-bottom: 10px;}

#section6 {visibility: hidden; position: absolute; text-align: center; background-color: #B0C4DE; border: 2px solid black; border-radius: 25px; margin-left: auto; margin-right: auto; margin-top: 10px; margin-bottom: 10px;}

#section7 {visibility: hidden; position: absolute; text-align: center; background-color: #B0C4DE; border: 2px solid black; border-radius: 25px; margin-left: auto; margin-right: auto; margin-top: 10px; margin-bottom: 10px;}

#section8 {visibility: hidden; position: absolute; text-align: center; background-color: #B0C4DE; border: 2px solid black; border-radius: 25px; margin-left: auto; margin-right: auto; margin-top: 10px; margin-bottom: 10px;}

#section9 {visibility: hidden; position: absolute; text-align: center; background-color: #B0C4DE; border: 2px solid black; border-radius: 25px; margin-left: auto; margin-right: auto; margin-top: 10px; margin-bottom: 10px;}

label {font-family: sans-serif;}

.inputprompt {display: inline-block; text-align: right;}

button {display: inline-block; border: 1px solid black; border-radius: 4px; height: 25px;}

table, th, td {border: 1px solid black; background-color: #F5F5F5; text-align: center; margin-top: auto; margin-bottom: 25px;}

#latitude {visibility: hidden; display: none;}

#longitude {visibility: hidden; display: none;}

#static-map {visibility: hidden; display: none; margin-top: 25px; margin-bottom: 25px;}

#snapshot {height: 200px; width: 200px;}

footer {text-align: center;}

@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (orientation: portrait) {
    #section1 {
        width: 375px;
    }
    #section2 {
        width: 375px;
    }
    #section3 {
        width: 375px;
    }
    #section4 {
        width: 375px;
    }
    #section5 {
        width: 375px;
    }
    #section6 {
        width: 375px;
    }
    #section7 {
        width: 375px;
    }
    table, th, td {
        width: 325px;
        margin-left: 25px;
        margin-right: 25px;
    }
    p {
        margin-left: 25px;
        margin-right: 25px
    }
}

@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (orientation: landscape) {
    #section1 {
        width: 600px;
    }
    #section2 {
        width: 600px;
    }
    #section3 {
        width: 600px;
    }
    #section4 {
        width: 600px;
    }
    #section5 {
        width: 600px;
    }
    #section6 {
        width: 600px;
    }
    #section7 {
        width: 600px;
    }
    table, th, td {
        width: 550px;
        margin-left: 25px;
        margin-right: 25px;
    }
    p {
        margin-left: 25px;
        margin-right: 25px;
    }
}