h1 {font-family: sans-serif; text-align: center;}

h2 {font-family: sans-serif; text-align: center;}

#mainmenu {text-align: center;}

#section1 {visibility: hidden; position: absolute; text-align: center; background-color: #B0C4DE; border: 2px solid black; border-radius: 25px; width: 400px; margin-left: auto; margin-right: auto; margin-top: 10px; margin-bottom: 10px;}

#section2 {visibility: hidden; position: absolute; text-align: center; background-color: #B0C4DE; border: 2px solid black; border-radius: 25px; width: 400px; margin-left: auto; margin-right: auto; margin-top: 10px; margin-bottom: 10px;}

#StLucia {width: 50%; height: 50%;}

#Santorini {width: 50%; height: 50%;}

.areatext {padding-left: 25px; padding-right: 25px; padding-top: 10px; padding-bottom: 25px;}

footer {text-align: center;}